/*

$sidebar-bg-color: #1d1d1d !default;
$sidebar-color: #adadad !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #d8d8d8 !default;
$submenu-bg-color: #2b2b2b !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 35px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

 */

$hover-color: rgba(220, 220, 220, 0.3);

//.hover {
//  border-radius: 1rem;
//  &:hover {
//    background-color: $hover-color;
//  }
//  &:active {
//    background-color: lightgray;
//  }
//}

$background-color: #ffffff;
$sidebar-bg-color: $background-color;
$submenu-bg-color: #ffffff;
$sidebar-width: 300px;
$sidebar-color: #333333;
$highlight-color: #000000;

.on-hover:hover {
  background-color: rgba(220, 220, 220, 0.3);
}
@import '../../../node_modules/react-pro-sidebar/dist/scss/styles';
@keyframes swing {}
.pro-inner-item:hover {
  background-color: red;
}
