.card-title, .card-description, .card-subtitle {
  font-family: system-ui, -apple-system, "Segoe UI";
  font-size: 1rem;
}

.card-title {
  font-size: 1.2rem;
}

.card-title {
  text-wrap: normal;
}

.card-subtitle {
  color: gray;
}

.card-description {
  color: gray;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-pop {
  transition: ease-in-out 0.2s;
}

.card-pop:hover {
  transform: scale(1.02);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}